# Big files
*.parquet
*.pkl

# Editors
.vscode

# python artifacts
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
*.egg

# Environments
.python-version
.env
.venv
env/
venv/

# MLflow
*mlruns*
*models*
*mlflow.db*