[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
prefect = "*"
tqdm = "*"
requests = "*"
joblib = "*"
pyarrow = "*"
evidently = "*"
pandas = "*"
numpy = "*"
scikit-learn = "*"
matplotlib = "*"
psycopg2-binary = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.9"
